---
const {
  inputType,
  valueName,
  valueType,
  exampleValue,
  defaultValue,
  valueDescription,
  required,
  disabled,
} = Astro.props;
---

<api-input class="not-content">
  <div class="title">
    {valueName}
    <span class="badge badge-type">{valueType}</span>
    {required && <span class="badge badge-required">required</span>}
  </div>
  <input
    class="api-input"
    type={inputType}
    spellcheck="false"
    placeholder={exampleValue}
    data-default-value={defaultValue}
    {disabled}
  />
  <div class="description">{valueDescription}</div>
</api-input>

<style>
  api-input {
    display: block;
    margin-top: 1.5rem !important;
  }

  .api-input {
    border: solid 1px var(--sl-color-gray-4);
    color: var(--sl-color-text);
    font-size: var(--sl-text-sm);
    border-radius: 0.25rem;
    outline: none;
    line-height: 1;
    padding: 0.5rem 0.75rem;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 4px;
    transition:
      border-color 0.1s,
      box-shadow 0.1s;
  }

  .api-input:hover:not(:disabled) {
    border-color: var(--sl-color-gray-3);
  }

  .api-input:focus:not(:disabled) {
    border-color: var(--sl-color-accent-high);
  }

  .api-input:disabled,
  .api-input:disabled::placeholder {
    filter: brightness(0.8);
    cursor: not-allowed;
  }

  .title {
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
    gap: 0.5rem;
  }

  .badge {
    font-size: var(--sl-text-xs);
    border-radius: 0.25rem;
    padding: 0.1rem 0.3rem;
    line-height: 1.5;
    min-width: fit-content;
    margin-left: 0.5rem;
    margin-right: -0.5rem;
  }

  .badge-required {
    background: var(--sl-color-red);
    color: var(--sl-color-black);
  }

  .badge-type {
    background: var(--sl-color-gray-5);
  }

  .description {
    font-size: var(--sl-text-xs);
    color: var(--sl-color-gray-3);
  }
</style>

<script>
  class ApiInput extends HTMLElement {
    constructor() {
      super();
    }
  }

  customElements.define("api-input", ApiInput);
</script>
