---
const html = await Astro.slots.render("default");
const flat = html.replace(/(\r\n|\n|\r)/gm, "");

const tree = buildTree(flat);

function buildTree(html: string): string {
  const array = html.split("<ul>");
  array.shift();

  const directory = array.shift()?.split("<li>").slice(-1)[0];
  if (!directory || array.length == 0) return "";

  const children = array.join("").split("<li>");
  children.shift();

  let childElements: string[][] = [[]];
  let directories = [];

  for (const child of children) {
    let index = childElements.length - 1;

    if (!child.includes("</li>")) {
      childElements.push([]);
      directories.push(child);
      continue;
    }

    const data = child.split("</li>").shift() || "";
    const name = data.split(" ")[0];

    const regex = /\(([^)]+)\)/g;
    const matches = [...data.matchAll(regex)].map((match) => match[1]);

    let elementName = `<span class="name">${name}</span>`;
    let elementType = "";
    let elementRequired = "";
    let elementDescription = "";

    for (const match of matches) {
      const parts = match.split(":");

      switch (parts[0]) {
        case "type":
          const type = (parts[1] || "").trim();
          elementType = `<span class="type">${type}</span>`;
          break;
        case "required":
          elementRequired = `<span class="required">*</span>`;
          break;
        case "description":
          const description = (parts[1] || "").trim();
          elementDescription = `<span class="description">${description}</span>`;
          break;
      }
    }

    const element = `<li><span class="item"><span class="name-container"><span>${elementName}${elementRequired}</span>${elementType}</span>${elementDescription}</span></li>`;
    childElements[index].push(element);

    if (child.includes("</ul>") && index > 0 && childElements.length > 0) {
      const count = child.split("</ul>").length - 1;

      for (let i = 0; i < count; i++) {
        const last = childElements.pop() || [];

        childElements[index - 1].push(
          `<li><details class="directory" open><summary>${directories[index - 1]}</summary><ul>${last.join("")}</ul></details></li>`
        );

        directories.pop();
        index--;
      }
    }
  }

  return `<details open><summary>${directory}</summary><ul>${childElements[0].join("")}</ul></details>`;
}
---

<api-tree set:html={tree} class="not-content" />

<style>
  api-tree {
    font-size: var(--sl-text-xs);
    font-family: var(--ec-codeFontFml);
    border: 1px solid var(--sl-color-gray-5);
    background-color: var(--sl-color-gray-6);
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;
  }

  api-tree :global(details) {
    min-width: fit-content;
  }

  api-tree :global(summary) {
    color: var(--sl-color-white);
    padding: 0.1rem 0.5rem;
    cursor: pointer;
    transition: color 0.1s;
  }

  api-tree :global(summary:hover) {
    color: var(--sl-color-accent-high);
  }

  api-tree :global(summary:hover ~ ul) {
    border-color: var(--sl-color-accent-high);
  }

  api-tree :global(li) {
    list-style-type: none;
  }

  api-tree :global(ul) {
    border-left: 1px solid var(--sl-color-gray-5);
    margin-left: 0.7rem;
    padding-left: 1rem;
    transition: border-color 0.1s;
  }

  api-tree :global(.item) {
    display: flex;
    align-items: center;
    padding: 0.1rem 0.5rem;
    border-radius: 0.25rem;
    transition: background 0.1s;
  }

  api-tree :global(.item:hover) {
    background: var(--sl-color-gray-5);
  }

  api-tree :global(.description) {
    color: var(--sl-color-gray-3);
    margin-left: auto;
    padding-left: 1.5rem;
    text-align: right;
  }

  api-tree :global(.required) {
    color: var(--sl-color-red);
    margin-left: 2px;
  }

  api-tree :global(.type) {
    color: var(--sl-color-gray-3);
    margin-top: -0.25rem;
  }

  api-tree :global(.name-container) {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
  }
</style>

<script>
  class ApiTree extends HTMLElement {
    constructor() {
      super();
    }
  }

  customElements.define("api-tree", ApiTree);
</script>
